<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-sm-12 footer__in-touch">
				<h1 class="footer__title">YOU THINK WE'RE COOL ? LET'S WORK TOGETHER</h1>
				<a href="#" class="button button--white button--footer">get in touch</a>
			</div>
			<div class="col-lg-6 col-sm-12">
				<div class="footer__form">
					<h3 class="form__title">STAY INFORMED WITH OUR NEWSLETTER</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur veniam dicta quibusdam incidunt necessitatibus, minus? Exercitationem laboriosam repudiandae commodi assumenda veritatis.</p>
					<form class="footer__form-item">
						<input type="email" placeholder="Your email">
						<input type="submit" value="Send" class="button">
					</form>
				</div>
			</div>
</footer>

	<script src="js/script.js"></script>

</body>
</html>