<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Acad about</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<header class="header-main">
		<div class="container header-main__container">
			<div class="row header-top align-items-center">
				<div class="col">
					<a class="header-logo" href="#">ACAD.</a>
				</div>
				<div class="col header__menu text-right">
					<div class="nav-icon">
					    <span></span>
					    <span></span>
					    <span></span>
					    <span></span>
					</div>
				</div>
			</div>	

			<div class="header-main__title row justify-content-center align-items-center">
				<div>
					<h1 class="header-title col-12">about us</h1>
					<ul class="header-breadcrumbs col list-unstyled">
						<li class="header-breadcrumbs__item list-inline-item"><a href="#">Home</a></li>
						<li class="header-breadcrumbs__item list-inline-item">About</li>
					</ul>
				</div>
			</div>	
		</div>
	</header>
	