<section class="blog">
		<div class="container">
				<div class="row">
					<div class="blog-main col-12 col-lg-8">
						
						<div class="blog-main__item">
							<div class="blog-main__item-img"><img src="img/blog1.jpg" alt="">
							</div>
						
							<div class="blog-main__item-nav">
								<a href="#" class="button button--small">October 13, 2015</a>
								<a href="#" class="blog-comments"><span class="ion-android-textsms"> </span>8</a>
								<a href="#" class="blog-like"><span class="ion-heart"></span> 15</a>
							</div>
							<div class="blog-main__item-text">
								<h4 class="blog-head">THE BIG LEAGUES OUR TURN STRAIGHTNIN</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod sequi illum vero excepturi, quidem iste cum adipisci sapiente vel dolor nemo ipsa quas facilis cumque doloribus fuga aspernatur ea maiores neque atque nulla tempora commodi magni soluta. Provident, ab, earum.</p>
								<a href="#" class="blog-continue">continue reading <span class="ion-arrow-right-c"></span></a>
							</div>
						</div>
						<div class="blog-main__item">
							<div class="blog-main__item-img"><img src="img/blog1.jpg" alt="">
							</div>
						
							<div class="blog-main__item-nav">
								<a href="#" class="button button--small">October 13, 2015</a>
								<a href="#" class="blog-comments"><span class="ion-android-textsms"> </span>8</a>
								<a href="#" class="blog-like"><span class="ion-heart"></span> 15</a>
							</div>
							<div class="blog-main__item-text">
								<h4 class="blog-head">THE BIG LEAGUES OUR TURN STRAIGHTNIN</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod sequi illum vero excepturi, quidem iste cum adipisci sapiente vel dolor nemo ipsa quas facilis cumque doloribus fuga aspernatur ea maiores neque atque nulla tempora commodi magni soluta. Provident, ab, earum.</p>
								<a href="#" class="blog-continue">continue reading <span class="ion-arrow-right-c"></span></a>
							</div>
						</div>
						<div class="blog-main__item">
							<div class="blog-main__item-img"><img src="img/blog1.jpg" alt="">
							</div>
						
							<div class="blog-main__item-nav">
								<a href="#" class="button button--small">October 13, 2015</a>
								<a href="#" class="blog-comments"><span class="ion-android-textsms"> </span>8</a>
								<a href="#" class="blog-like"><span class="ion-heart"></span> 15</a>
							</div>
							<div class="blog-main__item-text">
								<h4 class="blog-head">THE BIG LEAGUES OUR TURN STRAIGHTNIN</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod sequi illum vero excepturi, quidem iste cum adipisci sapiente vel dolor nemo ipsa quas facilis cumque doloribus fuga aspernatur ea maiores neque atque nulla tempora commodi magni soluta. Provident, ab, earum.</p>
								<a href="#" class="blog-continue">continue reading <span class="ion-arrow-right-c"></span></a>
							</div>
						</div>
					</div>
					<div class="blog-aside col-12 col-lg-3 offset-lg-1">
						<div class="blog-aside__search"><input type="search" placeholder="search..."></div>

						<!-- <div class="blog-aside__posts">
							<h5>posts</h5>
							
							<div class="blog-aside__posts-title blog-aside__posts-latest blog-aside__posts-title--active"><h5>Latest</h5></div>
							<div class="blog-aside__posts-title blog-aside__posts-popular"><h5>Popular</h5></div>
							<div class="blog-aside__posts-title blog-aside__posts-comments"><h5>Comments</h5></div>
							<div class="blog-aside__posts-latest blog-aside__posts-block  blog-aside__posts-block-active">
								<a href="#" class="blog-aside__posts-item row">
									<div class="col-2 col-lg-4 blog-aside__img-wrapper"><img src="img/blog-sm2.jpg" alt=""></div>
									<div class="col-10 col-lg-8">
										<h5 class="blog-title-sm">Magna mollis ultricies</h5>
										<p class="blog-date-sm">3th oct 2012</p>
									</div>
								</a> 
								<a href="#" class="blog-aside__posts-item row">
									<div class="col-2 col-lg-4"><img src="img/blog-sm1.jpg" alt=""></div>
									<div class="col-10 col-lg-8">
										<h5 class="blog-title-sm">Magna mollis ultricies</h5>
										<p class="blog-date-sm">3th oct 2012</p>
									</div>
								</a>
								<a href="#" class="blog-aside__posts-item row">
									<div class="col-2 col-lg-4"><img src="img/blog-sm3.jpg" alt=""></div>
									<div class="col-10 col-lg-8">
										<h5 class="blog-title-sm">Magna mollis ultricies</h5>
										<p class="blog-date-sm">3th oct 2012</p>
									</div>
								</a>
							</div>
						
							<div class="blog-aside__posts-popular blog-aside__posts-block">
								
								
								<a href="#" class="blog-aside__posts-item row">
									<div class="col-2 col-lg-4"><img src="img/blog-sm3.jpg" alt=""></div>
									<div class="col-10 col-lg-8">
										<h5 class="blog-title-sm">Magna mollis ultricies</h5>
										<p class="blog-date-sm">3th oct 2012</p>
									</div>
								</a>
								<a href="#" class="blog-aside__posts-item row">
									<div class="col-2 col-lg-4 blog-aside__img-wrapper"><img src="img/blog-sm2.jpg" alt=""></div>
									<div class="col-10 col-lg-8">
										<h5 class="blog-title-sm">Magna mollis ultricies</h5>
										<p class="blog-date-sm">3th oct 2012</p>
									</div>
								</a> 
								<a href="#" class="blog-aside__posts-item row">
									<div class="col-2 col-lg-4"><img src="img/blog-sm1.jpg" alt=""></div>
									<div class="col-10 col-lg-8">
										<h5 class="blog-title-sm">Magna mollis ultricies</h5>
										<p class="blog-date-sm">3th oct 2012</p>
									</div>
								</a>
							</div>
							<div class="blog-aside__posts-comments blog-aside__posts-block ">
								<a href="#">
									<p><b>NickName: </b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, reprehenderit.</p>
						
									<p><b>NickName: </b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, reprehenderit.</p>
						
									<p><b>NickName: </b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, reprehenderit.</p>
						
									<p><b>NickName: </b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, reprehenderit.</p>
						
									<p><b>NickName: </b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, reprehenderit.</p>
								</a>
							</div>										
						</div> -->



						<div class="blog-aside__posts">
							<h5>posts</h5>
							
							<a href="#blog-aside__latest" class="blog-aside__posts-title blog-aside__posts-title--active">Latest</a>
							<a href="#blog-aside__popular" class="blog-aside__posts-title">Popular</a>
							<a href="#blog-aside__comments" class="blog-aside__posts-title">Comments</a>
						<div class="blog-aside__posts-main">
							<div class="blog-aside__posts-wrapper">	
								<div id="blog-aside__latest" class="blog-aside__posts-content">
									<a href="#" class="blog-aside__posts-item row">
										<div class="col-2 col-lg-4 blog-aside__img-wrapper"><img src="img/blog-sm2.jpg" alt=""></div>
										<div class="col-10 col-lg-8 blog-sm">
											<h5 class="blog-title-sm ">Magna mollis ultricies</h5>
											<p class="blog-date-sm">3th oct 2012</p>
										</div>
									</a> 
									<a href="#" class="blog-aside__posts-item row">
										<div class="col-2 col-lg-4 blog-aside__img-wrapper"><img src="img/blog-sm1.jpg" alt=""></div>
										<div class="blog-sm col-10 col-lg-8 ">
											<h5 class=" blog-title-sm">Magna mollis ultricies</h5>
											<p class="blog-date-sm">3th oct 2012</p>
										</div>
									</a>
									<a href="#" class="blog-aside__posts-item row">
										<div class="col-2 col-lg-4 blog-aside__img-wrapper"><img src="img/blog-sm3.jpg" alt=""></div>
										<div class="blog-sm col-10 col-lg-8">
											<h5 class="blog-title-sm">Magna mollis ultricies</h5>
											<p class="blog-date-sm">3th oct 2012</p>
										</div>
									</a>
								</div>
							</div>
							<div class="blog-aside__posts-wrapper">
								
								
								<div id="blog-aside__popular" class="blog-aside__posts-content blog-aside__posts-content-hide">
									<a href="#" class="blog-aside__posts-item row">
									<div class="col-2 col-lg-4 blog-aside__img-wrapper"><img src="img/blog-sm3.jpg" alt=""></div>
									<div class="blog-sm col-10 col-lg-8">
										<h5 class="blog-title-sm">Magna mollis ultricies</h5>
										<p class="blog-date-sm">3th oct 2012</p>
									</div>
								</a>
								<a href="#" class="blog-aside__posts-item row">
									<div class="col-2 col-lg-4 blog-aside__img-wrapper"><img src="img/blog-sm2.jpg" alt=""></div>
									<div class="blog-sm col-10 col-lg-8">
										<h5 class="blog-title-sm">Magna mollis ultricies</h5>
										<p class="blog-date-sm">3th oct 2012</p>
									</div>
								</a> 
								<a href="#" class="blog-aside__posts-item row">
									<div class="col-2 col-lg-4 blog-aside__img-wrapper"><img src="img/blog-sm1.jpg" alt=""></div>
									<div class="blog-sm col-10 col-lg-8">
										<h5 class="blog-title-sm">Magna mollis ultricies</h5>
										<p class="blog-date-sm">3th oct 2012</p>
									</div>
								</a>
								</div>
							</div>

							<div class="blog-aside__posts-wrapper">
								
								
								<div id="blog-aside__comments" class="blog-aside__posts-content blog-aside__posts-content-hide">
									<a href="#">
									<p><b>NickName: </b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, reprehenderit.</p></a>
								<a href="#">
									<p><b>NickName: </b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, reprehenderit.</p></a>
								<a href="#">
									<p><b>NickName: </b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, reprehenderit.</p></a>
								<a href="#">
									<p><b>NickName: </b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, reprehenderit.</p></a>
								</div>
							</div>
						</div>		
						</div>
							
						<div class="blog-aside__categories">
							<h5>categories</h5>

							<a  href="#"  class="blog-aside__categories-item">
								<span>Business</span> <span>15</span>
							</a>
							<a  href="#" class="blog-aside__categories-item">
								<span>Photography</span> <span>17</span>
							</a>
							<a  href="#" class="blog-aside__categories-item">
								<span>Journal</span> <span>22</span>
							</a>
							<a  href="#" class="blog-aside__categories-item">
								<span>Web devlopment</span> <span>30</span>
							</a>
						</div>

						<div class="blog-aside__tags">
							<h5>Tags</h5>
							<a href="#" class="blog-aside__tags-item">CSS</a>
							<a href="#" class="blog-aside__tags-item">javascript</a>
							<a href="#" class="blog-aside__tags-item">jquery</a>
							<a href="#" class="blog-aside__tags-item">html5</a>
							<a href="#" class="blog-aside__tags-item">bootstrap</a>
							<a href="#" class="blog-aside__tags-item">css</a>
							<a href="#" class="blog-aside__tags-item">javascript</a>
							<a href="#" class="blog-aside__tags-item">jquery</a>

						</div>

						<div class="blog-aside__arch">
							<h5>archives</h5>
							<a href="#"  class="blog-aside__categories-item">
								<span>Business</span> <span>15</span>
							</a>
							<a  href="#" class="blog-aside__categories-item">
								<span>Photography</span> <span>17</span>
							</a>
							<a href="#"  class="blog-aside__categories-item">
								<span>Journal</span> <span>22</span>
							</a>
							<a  href="#" class="blog-aside__categories-item">
								<span>Web devlopment</span> <span>30</span>
							</a>

						</div>
					</div>

				</div>
		</div>
	
	</section>

	