	<section class="contact-info">
		<div class="container">
			<div class="row">
				<div class="contact-info__form col-lg-6 col-md-12">
					<form class="contact-info__form-item">
						<div class="row">
							<div class="col-12 col-sm-6"><input type="name" name="contact-name" placeholder="your name" class="" required></div>
							<div class="col-12 col-sm-6"><input type="email" name="contact-email" placeholder="your email" required></div>  
							
						</div>
						
						<input type="text" name="contact-object" placeholder="object">
						<textarea name="contact-message" id="ontact-message" required placeholder="message"></textarea>
						<input class="button" type="submit" value="send" >
					</form>
					<div class="contact-info__text">
						<h3 class="subtitle">contact info</h3>
						<p>Lorem ipsum dolor sit amet, consectetur elit. Assumenda deleniti, beatae eum totam odit expedita modi laudantium praesentium, quasi vero nihil doloribus consequatur!</p>
						<p>13D, Functional apartment, Unique colony, </p> 
						<p>Agadir 86360</p>
						<p>+212 124-566-780</p>
						<p>+212 124-566-780</p>
						<p><span>email@website.com</span></p>
						<div class="contact-social">
							<a href="#"><span class="ion-social-facebook"></span></a>
							<a href="#"><span class="ion-social-twitter"></span></a>
							<a href="#"><span class="ion-social-youtube"></span></a>
							<a href="#"><span class="ion-social-linkedin"></span></a>
							<a href="#"><span class="ion-social-pinterest"></span></a>
							<a href="#"><span class="ion-social-instagram"></span></a>
						</div>
					</div>
				</div>
				<div class="contact-info__map col-lg-6 col-md-12" id="map">
					
				</div>
			</div>
				
		</div>
	
	</section>

	